<%= content_for :contextual_nav do %>
  <li class="nav-item"><%= link_to t(:sign_up).capitalize, new_user_registration_path, class: 'nav-link' %></li>
<% end %>

<div class="d-flex justify-content-center">
  <div class="col col-lg-6">
    <h2 class="mb-4"><%= t(:login).capitalize %></h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group mt-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group mt-3">
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group my-3">
          <div class="form-check">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label t(:remember_me).capitalize, class: "form-check-label" %>
          </div>
        </div>
      <% end %>

      <p class="mt-4"><%= f.submit t(:login).capitalize, class: "btn btn-primary text-white text-uppercase" %></p>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
