<%= content_for :contextual_nav do %>
  <li class="nav-item"><%= link_to t(:sign_in).capitalize, new_user_session_path, class: 'nav-link' %></li>
  <li class="nav-item"><%= link_to t(:sign_up).capitalize, new_user_registration_path, class: 'nav-link' %></li>
<% end %>

<div class="d-flex justify-content-center">
  <div class="col col-lg-5">
    <h2 class="mb-4"><%= t(:password_forgotten).capitalize %></h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="form-group mt-4">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>

      <p class="mt-4">
        <%= f.submit t(:send_reset_password_instructions).capitalize, class: "btn btn-primary text-white text-uppercase" %>
      </p>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
