<div class="row">
  <div class="col">
    <h2 class="mb-5"><%= t(".title") %></h2>

    <p class="mb-5"><%= link_to t(".new"), new_oauth_application_path, class: "btn btn-primary text-uppercase text-white" %></p>

    <% unless @applications.empty? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t(".name") %></th>
            <th><%= t(".callback_url") %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @applications.each do |application| %>
            <tr id="application_<%= application.id %>">
              <td class="align-middle"><%= link_to application.name, oauth_application_path(application) %></td>
              <td class="align-middle"><%= application.redirect_uri %></td>
              <td class="align-middle" style="width: 70px">
                <%= link_to t("doorkeeper.applications.buttons.edit"), edit_oauth_application_path(application), class: "btn btn-sm btn-outline-secondary text-uppercase" %>
              </td>
              <td class="align-middle" style="width: 70px"><%= render "delete_form", application: application %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
