<header class="d-flex navbar navbar-expand-lg sticky-top">
  <nav class="container bd-gutter flex-wrap flex-lg-nowrap">
    <a class="navbar-brand mb-0 h1" href="/">
      <% if File.file? "#{Rails.root.join("app", "assets", "images")}/logo.png" %>
        <%= image_tag "logo.png", width: "40", class: "me-2 me-lg-3" %><%= Rails.application.config.site_name %>
      <% else %>
        <%= Rails.application.config.site_name %>
      <% end %>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <%= yield :contextual_nav %>
        <%= render "layouts/contextual_nav" %>
      </ul>      
    </div>
  </nav>
</header>
