<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= Rails.application.config.site_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container-fluid">
      <div class="container py-md-3">
        <%= render 'layouts/flash', flash: flash %>
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </body>
</html>
